
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    overflow: hidden;

}

.categories::-webkit-scrollbar{
    display: none;
}

.ant-btn-primary{
    background-color: #1677ff;
  }